<% if @song %>
  <p>Are you sure you want to delete post: <em>"<%=h  @song.content %>"</em>?</p>
  <form action="/panel/<%= @song.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete post">
    <a href="/panel/<%= @song.id %>">Cancel</a>
  </form>
<% else %>
  <p>Post not found.</p>
<% end %>
