<% if @song %>
  <form action="/panel/<%= @song.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <input type="text" class="title-input" name="title_post" placeholder="<%=h  @song.title_post %>"><br>
    <textarea name="content" rows="5" cols="60" class="post-input"><%=h  @song.content %></textarea><br>
    <input type="submit" class="edit" value="Edit">
  </form>
  <p><a class="delete" href="/panel/<%= @song.id %>/delete">Delete</a></p>
<% else %>
  <p>Post not found.</p>
<% end %>
