<% @songs.each do |song| %>
  <article>
    <p>
      <p class="title"><%=h song.title_post %><p>
      <p><%=h song.content %><p>
    </p>
    <p class="meta">Created: <%= song.created_at %></p>
  </article>
<% end %>
